* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2980B9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image-section img {
  width: 80%;  
  height: auto;
  border-radius: 5px;
}

.form-section {
  flex: 1;
  background-color: #e0f7ff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-align: right;
  text-decoration: none;
  color: #007bff;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 20px;
}
